@use 'variables/global';
@use 'reset';
@use 'themes/normal';

body {
	font: var(--font-m);
	color: var(--primary-color);
	background: var(--bg-color);
}

a {
	color: var(--inverted-bg-color);
}

.app {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
}

.category {
	margin: 20px;
}

a {
	&:hover {
		color: var(--primary-color-light);
	}
}

.asterisk {
	color: var(--destructive-color);
	margin-left: 2px;
	font-weight: 600;
}
