:root {
	--bg-color: #121826;
	--inverted-bg-color: #aab6f9;

	--primary-color: #9bb7ff;
	--primary-color-light: #c5d1ff;
	--primary-color-dark: #748dc0;

	--secondary-color: #7a94d0;

	--inverted-primary-color: #2c4b80;
	--inverted-secondary-color: #425eaa;

	--btn-radius: 6px;
	--transition: 0.25s ease-in-out;

	--light-bg-color: #1f2a47;
	--light-border-color: #374874;
	--light-text-color: #cfd8ff;
	--light-hover-bg: #2b3a73;
	--light-hover-text: #e3eaff;

	--destructive-color: #ff6b6b;
}
