.sorting {
	padding: 10px 0;

	.sortingSelect {
		padding: 0.3rem 0.5rem;
		font-size: 1rem;
		border-radius: 4px;
		cursor: pointer;
		transition: border-color 0.2s ease;
		background-color: var(--inverted-bg-color);

		&:focus {
			outline: none;
			border-color: none;
		}
	}
}
